:root {
  /* COLORS */
  --color-primary: #00cba9;
  --color-primary-dark: #00a88c;
  --color-secondary: #3462ac;
  --color-secondary-dark: #26477e;
  --color-secondary-very-dark: #172b4b;
  --color-dark-gray: #313230;
  --color-light-yellow: #ffd97d;

  /* FONTS */
  --ff-open-sans: "Open Sans", helvetica, arial, sans-serif;
  --ff-poppins: "Poppins", "Open Sans", helvetica, arial, sans-serif;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1em 2em;
  font-size: 1.2em;
  font-family: var(--ff-poppins);
  border-radius: 1em;
}

/* -----------------------------------*\
  #RESET
\*----------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: var(--ff-open-sans);
}

/* -----------------------------------*\
  LOGO & MENU
\*----------------------------------- */
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4em 0;
  width: 70%;
  margin: 0 auto;
}

.navbar-logo {
  user-select: none;
  width: 200px;
  margin-right: auto;
}

.navbar-links {
  display: inline;
  font-family: var(--ff-poppins);
  margin-left: 4em;

  & a {
    color: var(--color-dark-gray);
  }

  & a:hover {
    color: var(--color-primary);
  }

  & a::after {
    margin: auto;
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: var(--color-primary);
    transition: 300ms;
  }

  & a:hover::after {
    width: 100%;
  }
}

.navbar-toggle {
  display: none;
  font-size: 1.5em;
}

/* -----------------------------------*\
  #HEADER
\*----------------------------------- */
.header-cleaners {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 10px;
}

.container-h1 {
  display: flex;
  justify-content: center;
}

.cleaners-slogan {
  color: #313230;
  font-family: var(--ff-poppins);
  width: 70%;
  font-size: 4em;
  line-height: 1.4;
  margin-top: 1em;
  padding: 20px;
  min-width: 750px;
}

.cleaners-slogan strong {
  color: var(--color-primary);
}

.cleaners-form {
  width: 70%;
  display: flex;
  align-items: center;
  min-width: 750px;
}

.cleaners-form input {
  font-family: var(--ff-poppins);
  background: #ececec;
  border-radius: 0.8em;
  border: none;
  width: 100%;
  padding: 1em;
  font-size: 1.2em;
  margin: 1em;
}

.cleaners-form input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary);
}

.search {
  font-size: 1em;
  background: var(--color-secondary);
  box-shadow: 0 6px 0 var(--color-secondary-very-dark);
  color: white;
  display: inline-block;
  margin-bottom: 6px;
}

.search:hover {
  background-color: var(--color-secondary-dark);
}

.search:active {
  box-shadow: 0 3px 0 var(--color-secondary-very-dark);
  position: relative;
  top: 5px;
}

/* -----------------------------------*\
  #CLEANERS CARDS
\*----------------------------------- */

.container-cards {
  margin: 20px auto;
  padding: 10px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.cleaner-container {
  color: #313230;
  padding: 20px;
  margin: 20px;
  display: flex;
  width: 100%;
  max-width: 950px;
  min-width: 760px;
  box-shadow: 3px 5px 9px 2px #0000003e;
  border-radius: 5px;
}

.cleaner-image {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cleaner-image > img {
  width: 130px;
  height: 130px;
}

.nombre-cleaner {
  min-width: 100px;
}

.cleaner-info {
  width: 90%;
}

.cleaner-info-p {
  width: 90%;
  padding: 10px;
  font-size: 0.9em;
  min-height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn .cleaners-more {
  display: inline-block;
}

.container-name-rating {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating-star {
  display: flex;
  align-items: center;
  justify-items: center;
}

.star-icon {
  width: 15px;
  margin: 5px;
}

.rating {
  text-align: center;
  margin: 1px;
}

.price {
  text-align: center;
  color: #00cba9;
}

.works {
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.cleaner-btn {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.hire {
  font-size: 0.8em;
  text-align: center;
}

.hire:hover {
  background-color: #d6d6d6;
}

/* stylelint-disable-next-line no-descending-specificity */
.cleaners-more {
  height: 60px;
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0 6px 0 #026555;
  margin-bottom: 100px;
}

.cleaners-more:hover {
  background-color: var(--color-primary-dark);
}

.cleaners-more:active {
  box-shadow: 0 3px 0 var(--color-secondary-very-dark);
  position: relative;
  top: 5px;
}

/* -----------------------------------*\
  #FOOTER
\*----------------------------------- */

.footer {
  background-color: #545454;
  color: white;
  width: 100%;
  padding: 4em 2em;
}

.footer-nav {
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-position: inside;
}

.column {
  list-style: none;
  display: flex;
  flex-direction: column;

  & .items {
    list-style: none;
    padding: 0;

    & li {
      margin-top: 0.5em;
    }

    & li a {
      color: white;
      text-decoration: none;
    }
  }
}

.footer-elements {
  margin: 0.5em;
}

.legal {
  text-align: center;
  margin-top: 1em;
}

/* -----------------------------------*\
  #MEDIA QUERIES CENTRADO
\*----------------------------------- */
@media (max-width: 1024px) {
  .navbar-list {
    flex-wrap: wrap;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
    margin: 0.5em;

    & a::after {
      margin-top: 0.5em;
    }

    & a:hover::after {
      width: 30%;
    }
  }

  .active {
    display: block;
    margin-top: 1em;

    &:first-child {
      margin-top: 3em;
    }
  }
}

@media (max-width: 760px) {
  .header-cleaners {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cleaners-slogan {
    padding: 10px;
    width: 100%;
    min-width: 350px;
    font-size: 2.8em;
  }

  .cleaners-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 350px;
    font-size: 0.8em;
  }

  .container-cards {
    width: 92%;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .cleaner-container {
    width: 95%;
    max-width: 550px;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price {
    margin-bottom: 15px;
  }

  .container-name-rating {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cleaner-btn {
    margin-bottom: 5px;
  }

  .cleaner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .works {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .cleaner-info-p {
    width: 95%;
    text-align: center;
    font-size: 0.9em;
  }
}

@media (max-width: 500px) {
  .navbar-list {
    width: 100%;
    padding-left: 1em;
    padding-right: 2em;
  }

  .footer-nav {
    flex-direction: column;
    padding: 2em;
    gap: 1em;
  }

  .search {
    max-width: 150px;
    width: 100%;
    margin: 10px 0;
    font-size: 1.1em;
    align-self: flex-start;
  }
}
