/* -----------------------------------*\
  #CUSTOM PROPERTY
\*----------------------------------- */

:root {
  /* COLORS */
  --color-primary: #00cba9;
  --color-secondary: #3462ac;
  --color-secondary-dark: #26477e;
  --color-secondary-very-dark: #172b4b;
  --color-dark-gray: #313230;
  --color-light-yellow: #ffd97d;

  /* FONTS */
  --ff-open-sans: "Open Sans", helvetica, arial, sans-serif;
  --ff-poppins: "Poppins", "Open Sans", helvetica, arial, sans-serif;
}

/* -----------------------------------*\
  #RESET
\*----------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: var(--ff-open-sans);
}

/* -----------------------------------*\
  #REUSED COMPONENTS
\*----------------------------------- */

.btn {
  cursor: pointer;
  border: none;
  padding: 1em 2em;
  font-size: 1.2em;
  font-family: var(--ff-poppins);
  border-radius: 1em;
}

/* -----------------------------------*\
  #HOME
\*----------------------------------- */

.home {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  align-items: center;
}

.home-slogan {
  font-family: var(--ff-poppins);
  font-size: 4em;
  line-height: 1;

  & strong {
    color: var(--color-primary);
  }
}

.home-description {
  font-family: var(--ff-poppins);
  margin: 1em 0 0.5em;
  font-size: 2em;
}

.home-text {
  font-size: 1.2em;
}

.home-form input {
  font-family: var(--ff-poppins);
  background: #ececec;
  border-radius: 0.8em;
  border: none;
  display: block;
  width: 100%;
  margin-top: 2em;
  padding: 1em;
  font-size: 1.5em;
  margin-bottom: 1em;

  &:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--color-primary);
  }
}

.home-btn {
  background: var(--color-secondary);
  box-shadow: 0 8px 0  var(--color-secondary-very-dark);
  color: white;

  &:hover {
    background: var(--color-secondary-dark);
  }
}

/* -----------------------------------*\
  #INFO_CLIENTES
\*----------------------------------- */

.container-client {
  background: var(--color-primary);
  padding: 3em 30em;
  display: flex;
  flex: 1 1 auto;
  align-content: center;
  justify-content: space-around;
}

.info-client-box {
  box-sizing: border-box;
  margin: 1em;
  margin-top: 3em;
  font-size: 1em;
  padding: 2.4em;
  padding-bottom: 4em;
  width: 50%;
  min-width: 310px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
  box-shadow: 3px 5px 9px 2px #0000003e;
}

.icons-clients {
  width: 210px;
  height: 210px;
  position: absolute;
  margin: 30px;
  top: -160px;
  right: 50;
  left: 50;
  filter: drop-shadow(5px 4px 6px rgb(0 0 0 / 24.7%));
}

.info-client-box-title {
  font-size: 1.3em;
  margin-top: 2em;
  font-family: var(--ff-poppins);
  color: var(--color-dark-gray);
  text-align: center;
}

.info-clients p {
  margin-top: 1.8em;
  font-family: var(--ff-open-sans);
  color: var(--color-dark-gray);
  text-align: center;
  font-size: 1em;
  line-height: 1.8em;
}

.button-container {
  display: flex;
  align-content: center;
  justify-content: center;
  background: var(--color-primary);
}

.client-button {
  width: 100%;
  max-width: 19em;
  padding: 15px 20px;
  border-radius: 0.8em;
  color: var(--color-dark-gray);
  background-color: var(--color-light-yellow);
  font-family: var(--ff-poppins);
  font-size: 1.3em;
  text-align: center;
  display: inline-block;
  border: none;
  outline: none;
  margin: 0.5em;
  margin-bottom: 3em;
  box-shadow: 0 8px 0 #c18c32;
}

.client-button:hover {
  color: var(--color-primary);
  opacity: 0.9;
}

/* -----------------------------------*\
  #CAROUSEL
\*----------------------------------- */

.review-carousel {
  margin-bottom: 10rem;
  background: rgb(197 197 197);
  height: 50rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.slider {
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-self: end;
  justify-content: center;

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & li {
      position: relative;
      display: none;
      height: 350px;
      animation-name: fade;
      animation-duration: 2.5s;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }

  & .buttons {
    position: absolute;
    top: 40%;
    width: 100%;

    & .next {
      font-size: 2rem;
      right: 0;
      position: absolute;
      cursor: pointer;
      width: 50px;
      text-align: center;
    }

    & .prev {
      font-size: 2rem;
      left: 0;
      position: absolute;
      cursor: pointer;
      width: 50px;
      text-align: center;
    }

    & .next:hover,
    & .prev:hover {
      background: hsl(0deg 0% 25%);
      color: hsl(0deg 0% 93%);
    }
  }
}

.gatos {
  width: 10px;
}

@keyframes fade {
  from { opacity: 0.2; }
  to { opacity: 1; }
}

/* -----------------------------------*\
  #WORK WITH US
\*----------------------------------- */

.work-with-us {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.work-with-us > p {
  margin: 35px 12%;
}

.work-with-us-btn {
  margin: 0 15% 10%;
  width: 22em;
  max-width: 90%;
}

/* -----------------------------------*\
  #FOOTER
\*----------------------------------- */

.footer {
  background-color: #545454;
  color: white;
  display: flex;
  width: 100vw;
  height: 340px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  & a {
    color: white;
    text-decoration: none;
  }
}

.footer-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-position: inside;
}

.column {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.items {
  list-style: none;
  padding: 0;
}

.footer-elements {
  margin: 0.5em;
}

/* CSS ÁLVARO */

.container {
  display: flex;
  justify-content: center;
}

.container-2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: var(--color-light-yellow);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.yellow p {
  color: white;
  font-family: var(--ff-poppins);
  font-weight: bold;
  text-shadow: 0 1.5px 0 rgb(50 50 50 / 30%);
  padding-top: -300px;
}

.text,
.yellow {
  font-size: 35px;
  margin-right: 5%;
}

.btn-teal {
  background-color: #00cba9;
  width: 280px;
  height: 60px;
  border-radius: 20px;
  box-shadow: 0 5px teal;
  color: white;
  display: flex;
  justify-content: center;
  margin-right: 3%;
  font-family: var(--ff-poppins);
  border: none;
}

/* CSS ÁLVARO */

/* -----------------------------------*\
  #MEDIA QUERIES
\*----------------------------------- */

@media (max-width: 1440px) {
  .home {
    font-size: 15px;
  }

  .home-slogan {
    font-size: 3em;
  }
}

@media (max-width: 1024px) {
  .home {
    grid-template-columns: auto;
    width: 80%;
    font-size: 14px;
    justify-items: center;

    & img {
      width: 60%;
    }
  }

  .home .home-slogan {
    font-size: 5em;
  }

  .container-client {
    padding: 6em 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex: 1 1 auto;
  }
}

@media (max-width: 500px) {
  .home {
    width: 100%;
    padding: 0 1em;

    & img {
      width: 80%;
    }
  }

  .home .home-slogan {
    font-size: 3em;
  }
}
