/* -----------------------------------*\
  #CUSTOM PROPERTY
\*----------------------------------- */

:root {
  /* COLORS */
  --color-primary: #00cba9;
  --color-secondary: #3462ac;
  --color-secondary-dark: #26477e;
  --color-secondary-very-dark: #172b4b;
  --color-dark-gray: #313230;
  --color-light-yellow: #ffd97d;

  /* FONTS */
  --ff-open-sans: "Open Sans", helvetica, arial, sans-serif;
  --ff-poppins: "Poppins", "Open Sans", helvetica, arial, sans-serif;
}

/* -----------------------------------*\
  #RESET
\*----------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: var(--ff-open-sans);
}

/* -----------------------------------*\
  #REUSED COMPONENTS
\*----------------------------------- */

.btn {
  cursor: pointer;
  border: none;
  padding: 1em 2em;
  font-size: 1.2em;
  font-family: var(--ff-poppins);
  border-radius: 1em;
}

/* -----------------------------------*\
  #HOME
\*----------------------------------- */

.home {
  padding: 0 20em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  align-items: center;
}

.home-slogan {
  font-family: var(--ff-poppins);
  font-size: 5em;
  line-height: 1;

  & strong {
    color: var(--color-primary);
  }
}

.home-description {
  font-family: var(--ff-poppins);
  margin: 1em 0 0.5em;
  font-size: 2.2em;
}

.home-text {
  font-size: 1.2em;
}

.home-form input {
  font-family: var(--ff-poppins);
  background: #ececec;
  border-radius: 0.8em;
  border: none;
  display: block;
  width: 100%;
  margin-top: 2em;
  padding: 1em;
  font-size: 1.5em;
  margin-bottom: 1em;

  &:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--color-primary);
  }
}

.home-btn {
  background: var(--color-secondary);
  box-shadow: 0 8px 0  var(--color-secondary-very-dark);
  color: white;

  &:hover {
    background: var(--color-secondary-dark);
  }
}

/* -----------------------------------*\
  #CAROUSEL
\*----------------------------------- */

.slider {
  border-radius: 5px;
  box-shadow: 5px 5px hsl(0deg 0% 76%);
  position: relative;
  display: flex;
  justify-content: center;
}

.slider ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider ul li {
  position: relative;
  display: none;
  height: 350px;
  animation-name: fade;
  animation-duration: 2.5s;
}

.slider ul li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.slider ul li span {
  position: absolute;
  bottom: 0;
  background: hsl(0deg 1% 72% / 10%);
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #fff;
}

.slider .buttons {
  position: absolute;
  top: 40%;
  width: 100%;
}

.slider .buttons .next {
  font-size: 2rem;
  right: 0;
  position: absolute;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

.slider .buttons .prev {
  font-size: 2rem;
  left: 0;
  position: absolute;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

.slider .buttons .next:hover {
  background: hsl(0deg 0% 25%);
  color: hsl(0deg 0% 93%);
}

.slider .buttons .prev:hover {
  background: hsl(0deg 0% 25%);
  color: hsl(0deg 0% 93%);
}

.gatos {
  width: 10px;
}

@keyframes fade {
  from { opacity: 0.2; }
  to { opacity: 1; }
}

/* -----------------------------------*\
  #WORK WITH US
\*----------------------------------- */

.work-with-us {
  margin: 10%;
  max-width: fit-content;
  align-items: center;
  text-align: center;
  width: 100%;
}

.work-with-us > p {
  margin-top: 2em;
  text-align: justify;
}

.work-with-us-btn {
  margin: 2em;
  width: 22em;
}
