/* -----------------------------------*\
  #CUSTOM PROPERTY
\*----------------------------------- */

:root {
  /* COLORS */
  --color-primary: #00cba9;
  --color-primary-dark: #00a88c;
  --color-secondary: #3462ac;
  --color-secondary-dark: #26477e;
  --color-secondary-very-dark: #172b4b;
  --color-dark-gray: #313230;
  --color-light-yellow: #ffd97d;

  /* FONTS */
  --ff-open-sans: "Open Sans", helvetica, arial, sans-serif;
  --ff-poppins: "Poppins", "Open Sans", helvetica, arial, sans-serif;
}

/* -----------------------------------*\
  #RESET
\*----------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: var(--ff-open-sans);
}

/* -----------------------------------*\
  #REUSED COMPONENTS
\*----------------------------------- */

.btn {
  cursor: pointer;
  border: none;
  padding: 1em 2em;
  font-size: 1.2em;
  font-family: var(--ff-poppins);
  border-radius: 1em;
}

/* -----------------------------------*\
  LOGO & MENU
\*----------------------------------- */
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4em 0;
  width: 70%;
  margin: 0 auto;
}

.navbar-logo {
  user-select: none;
  width: 200px;
  margin-right: auto;
}

.navbar-links {
  display: inline;
  font-family: var(--ff-poppins);
  margin-left: 4em;

  & a {
    color: var(--color-dark-gray);
  }

  & a:hover {
    color: var(--color-primary);
  }

  & a::after {
    margin: auto;
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: var(--color-primary);
    transition: 300ms;
  }

  & a:hover::after {
    width: 100%;
  }
}

.navbar-toggle {
  display: none;
  font-size: 1.5em;
}

/* -----------------------------------*\
  #HOME
\*----------------------------------- */

.home {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  align-items: center;
}

.home-about {
  margin: auto;
  width: 70%;
}

.values {
  margin: auto;
  width: 70%;
}

.values h2 {
  text-align: center;
  font-family: var(--ff-poppins);
  margin: 5em 0 0.5em;
  font-size: 2em;
}

.values-properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.properties {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 120px;
  margin: 3em;
  border-radius: 0.3em;
  box-shadow: 5px 5px 5px rgb(198 198 198);
  font-family: var(--ff-poppins);
}

.home-slogan {
  font-family: var(--ff-poppins);
  font-size: 4em;
  line-height: 1;

  & strong {
    color: var(--color-primary);
  }
}

.home-description {
  font-family: var(--ff-poppins);
  margin: 1em 0 0.5em;
  font-size: 2em;
}

.home-text {
  font-size: 1.2em;
}

.home-form input {
  font-family: var(--ff-poppins);
  background: #ececec;
  border-radius: 0.8em;
  border: none;
  display: block;
  width: 100%;
  margin-top: 2em;
  padding: 1em;
  font-size: 1.5em;
  margin-bottom: 1em;

  &:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.home-btn {
  background: var(--color-secondary);
  box-shadow: 0 6px 0 var(--color-secondary-very-dark);
  color: white;

  &:hover {
    background: var(--color-secondary-dark);
  }

  &:active {
    box-shadow: 0 3px 0 var(--color-secondary-very-dark);
    position: relative;
    top: 5px;
  }
}

/* -----------------------------------*\
  #INFO_CLIENTES
\*----------------------------------- */
.team-title {
  text-align: center;
  font-family: var(--ff-poppins);
  margin: 4em 0 -0.5em;
  font-size: 2em;
}

.team {
  background-color: var(--color-primary);
}

.team-members {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5em;
  align-items: center;
}

.team-members div {
  display: flex;
  width: 200px;
  height: 254px;
  background-color: white;
  justify-content: center;
  align-items: flex-end;
  border-radius: 0.3em;
  box-shadow: 5px 5px 5px #00cba9;
  font-family: var(--ff-open-sans);
}

.info-clients {
  background-color: var(--color-primary);
}

.container-client {
  margin: auto;
  width: 70%;
  background: var(--color-primary);
  padding: 3em 12em;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.info-client-box {
  margin: 1em;
  margin-top: 3em;
  padding: 2.4em;
  padding-bottom: 4em;
  width: 70%;
  min-width: 310px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 3px 5px 9px 2px #0000003e;
}

.icons-clients {
  width: 210px;
  height: 210px;
  margin: 30px;
  position: absolute;
  top: -160px;
  right: 50;
  left: 50;
  filter: drop-shadow(5px 4px 6px rgb(0 0 0 / 24.7%));
}

.info-client-box-title {
  font-size: 1.3em;
  margin-top: 2em;
  font-family: var(--ff-poppins);
  color: var(--color-dark-gray);
  text-align: center;
}

.info-clients p {
  margin-top: 1.8em;
  font-family: var(--ff-open-sans);
  color: var(--color-dark-gray);
  text-align: center;
  font-size: 1em;
  line-height: 1.9em;
}

.button-container {
  display: flex;
  align-content: center;
  justify-content: center;
  background: var(--color-primary);
}

.client-button {
  width: 100%;
  max-width: 19em;
  padding: 15px 20px;
  border-radius: 0.8em;
  color: var(--color-dark-gray);
  background-color: var(--color-light-yellow);
  font-family: var(--ff-poppins);
  font-size: 1.3em;
  text-align: center;
  display: inline-block;
  border: none;
  outline: none;
  margin: 0.5em;
  margin-bottom: 3em;
  box-shadow: 0 6px 0 #c18c32;
}

.client-button:hover {
  background-color: #e5c285;
}

.client-button:active {
  box-shadow: 0 2.5px 0 #c18c32;
  position: relative;
  top: 5px;
}

/* -----------------------------------*\
  #WORK WITH US
\*----------------------------------- */

.work-with-us {
  padding: 1em 0 7em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.work-with-us img {
  width: 10%;
  margin-bottom: 4em;
}

.work-with-us > p {
  margin: 35px 12%;
}

.work-with-us-btn {
  width: 22em;
  max-width: 90%;
}

/* CSS ÁLVARO */

.container {
  display: flex;
  justify-content: center;
}

.container-2 {
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: var(--color-light-yellow);
  width: 100%;
  justify-content: center;
}

.yellow p {
  color: white;
  font-family: var(--ff-poppins);
  font-weight: bold;
  text-shadow: 0 1.5px 0 rgb(50 50 50 / 50%);
}

.text,
.yellow {
  font-size: 35px;
  margin: 0% 3%;
}

.btn-teal {
  background-color: var(--color-primary);
  width: 320px;
  height: 60px;
  border-radius: 20px;
  box-shadow: 0 5px teal;
  color: white;
  display: flex;
  justify-content: center;
  margin-right: 3%;
  font-family: var(--ff-poppins);
  border: none;
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn-teal:hover {
  background-color: var(--color-primary-dark);
}

.btn-teal:active {
  box-shadow: 0 2.5px 0 teal;
  position: relative;
  top: 3px;
}

.text .yellow {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* CSS ÁLVARO */

/* -----------------------------------*\
  #CAROUSEL
\*----------------------------------- */

.slider-container {
  padding: 4em 0 1em;
}

.glide__slide--active {
  transform: scale(1.1);
  transition: all 0.3s;
}

.slider-card {
  box-shadow: 4px 4px 10px rgb(128 128 128 / 47.3%);
  border-radius: 1.5em;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  min-height: 500px;

  & img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
  }

  & .slider-card-stars {
    margin: 1em 0;
    color: var(--color-light-yellow);
    text-align: center;
  }

  & .slider-card-text {
    text-align: center;

    & footer {
      font-weight: bold;
      margin-top: 1em;
    }

    & small {
      display: block;
      font-weight: lighter;
    }
  }
}

.glide__arrow {
  box-shadow: none !important;

  & i {
    color: #00000050;
    font-size: 3em;
  }
}

/* -----------------------------------*\
  #FOOTER
\*----------------------------------- */

.footer {
  background-color: #545454;
  color: white;
  width: 100%;
  padding: 4em 2em;
}

.footer-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-position: inside;
}

.column {
  list-style: none;
  display: flex;
  flex-direction: column;

  & .items {
    list-style: none;
    padding: 0;

    & li {
      margin-top: 0.5em;
    }

    & li a {
      color: white;
      text-decoration: none;
    }
  }
}

.footer-elements {
  margin: 0.5em;
}

.legal {
  text-align: center;
  margin-top: 1em;
}

/* -----------------------------------*\
  #MEDIA QUERIES
\*----------------------------------- */

@media (max-width: 1440px) {
  .home {
    font-size: 15px;
  }

  .home-slogan {
    font-size: 3em;
  }

  .values-properties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  .team-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .navbar-list {
    flex-wrap: wrap;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
    margin: 0.5em;

    & a::after {
      margin-top: 0.5em;
    }

    & a:hover::after {
      width: 30%;
    }
  }

  .active {
    display: block;
    margin-top: 1em;

    &:first-child {
      margin-top: 3em;
    }
  }

  .home {
    grid-template-columns: auto;
    width: 80%;
    font-size: 14px;
    justify-items: center;

    & img {
      width: 60%;
    }
  }

  .home .home-slogan {
    font-size: 5em;
  }

  .container-client {
    padding: 6em 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .info-client-box {
    margin-top: 8em;
  }

  .work-with-us img {
    width: 25%;
    margin-bottom: 4em;
  }

  .values-properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
}

@media (max-width: 500px) {
  .navbar-list {
    width: 100%;
    padding-left: 1em;
    padding-right: 2em;
  }

  .home {
    width: 100%;
    padding: 0 1em 2em;

    & img {
      width: 80%;
    }
  }

  .home .home-slogan {
    font-size: 3em;
  }

  .work-with-us img {
    width: 60%;
    margin-bottom: 4em;
  }

  .slider-container {
    padding: 2em 0;
  }

  .glide__slide {
    transform: scale(0.9);
  }

  .glide__slide--active {
    transform: scale(0.95);
  }

  .glide__arrow i {
    font-size: 1.5em;
  }

  .container,
  .yellow div {
    display: block;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .yellow p {
    font-size: 0.6em;
  }

  .btn-teal {
    display: inline-block;
  }

  .footer-nav {
    flex-direction: column;
    padding: 2em;
    gap: 1em;
  }

  .values-properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
